$color-base: green;
$color-border: black;
$color-text: silver;

.container {
    border: 4px solid $color-border;
    padding: 25px;
    display: flex;    

    .box {
        border: 2px solid $color-border;
        color: $color-text;
        padding: 10px;
        margin: 4px;
        flex: 1;
    }

    .base-color {
        background-color: $color-base;
    }

    @for $i from 1 through 4 {
        .darken-#{$i} {
            background-color: darken($color-base, 4%*$i);            
        }

        .lighten-#{$i} {
            background-color: lighten($color-base, 14%*$i);
        }
    }
}